/* CSS Document */


.font1{font-weight:bold;font-size:14px;color:#7c776a;}
.font2{font-weight:bold;font-size:14px;color:#333333;}
.font3{font-size:14px;color:#333;line-height: 2.8em;text-align: left}
.grey{color:#7c776a}
.h1{font-size:12px;color:#FFFFFF;text-align: left;font-style: normal;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, font, img, ins, q, s, samp,
small, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button,textarea {
    margin:0; 
	padding:0; 
}

body {
    font:12px/18px Tahoma,"ו",Arial,verdana,sans-serif;
	text-align:left; 
	color:#333333;
	width:930px;
	min-height:910px;
	*min-height:910px;
    margin:0 auto;
}
a{ color:#333333;cursor:pointer;
outline:medium none;
text-decoration:none;}
a:hover {
  text-decoration:underline;
} 

.content{height:100%;background-color:#FFFFFF; border:1px solid #DCDCDC;}

fieldset,img {
    border:0;
}
table {
    border-collapse: collapse; 
}

td {
    vertical-align:top;
}

input,select,textarea {
    font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	color:inherit;
	outline:none;
	border:1px #cccccc solid;
}

.btn,.submit {
    outline:none; 
	cursor:pointer; 
}

.highlight {
    color:#ff4800;
}
/* public small tips */
.none {display:none;}
.block {display:block;}
.error {color:#ff0000;}
.ct {text-align:center;}

/*head*/
.head{}
.head .logo{float:left;height:70px;margin:10px 0 0 12px;_margin:10px 0 0 10px;}
.head .nav .search{float: right;padding:2px 10px 0 10px;}
.head .nav .search .text{height:16px;background-color:#F1EEE7;border:1px solid #dedace; margin: 0 5px 10px 0 ; padding:1px 1px 0;color:#7d776b;vertical-align:middle;}

.head .nav{float:right; height:37;padding:0 10px;margin:40px 10px 0 10px;_margin:0 5px 0 5px;width:700px;background:#00CCFF;}
    .nav ul {padding: 0px 6px 0px 20px;}
    .nav li {display:inline;margin:0;padding:0; text-align:center;float:left;display:block;line-height: 1.2em;}
    .nav a {float:left;height:14px;padding: 12px 11px 11px 6px;display:block;text-decoration:none; font-size:14px;font-weight: bold;color: #FFF;}
   /* Commented Backslash Hack hides rule from IE5-Mac \*/
    .nav a span {float:none;}
    /* End IE5-Mac hack */
    .nav a:hover{color:#FFF; background:#00CCFF;}

/*leftmunu*/

#left_menu{
	float:left;
	width:225px;
}

#tree2 {
	margin:10px 0 0 10px; 
	text-align:left; 
	font:12px/1.6em; 
	padding:2px;
	width:219px;
}

#navleft {
	width:100%;
	line-height:2.5em;
	list-style-type: none;
	text-align:left;

}
#navleft a {
	width:199px;
	_height:20px;
	_padding:4px 0 0 0;
	display: block;
	padding-left:20px; 
	text-decoration:none;

}
#navleft li {
	font-weight:bold;
	line-height:2.5em;
}
#navleft li a:hover  {text-decoration:none;font-weight:bold;background:#00CCFF;}

#navleft li ul { padding-bottom:10px;list-style:none;text-align:left;background:#00CCFF;}
#navleft li ul li{
	font-weight:normal;
	font-size:12px;
	line-height:2em;
}
#navleft li ul a{
         padding-left:30px;
         width:189px;

}

#navleft li ul a  {
	color:#333; text-decoration:none;
}

#navleft li ul a:hover {
    color:#fff;
	text-decoration:none;
	font-weight:normal;
	background:#00CCFF;

}
/*==============================*/
#navleft li:hover ul {
	left: auto;
}
#navleft li.sfhover ul {
	left: auto;
}
#navleft ul.collapsed {
	display: none;
}
#clear {clear:both}

#navleft a  {
	text-decoration:none;
}
#navleft .first{font-weight:bold;}

/*end*/
.end{height:80px;width:100%;background-color:#E0DACE; clear:both;}
.end .endleft{float:right; padding:14px 0 0 0;height:66px; width:160px; background:#f1eee6 url(../images/endbg.gif) no-repeat 8px 7px; }
.end .endleft li{margin: 0 0 0 60px; list-style:none}
.end .endleft li a{ font:13px; color:#704D0D;line-height:1.4em;}
.end .endright{ float:left;padding:14px 0 10px 20px; color:#7d776b;}
