/* CSS Document */
#content{ width:100%; float:left;}
/*left*/	
.left {float:left;width:600px;padding:10px 4px 0px 10px; background:#FFFFFF;}

/*right*/
.right{float:right;height:7px;width:300px;padding:10px 5px 0px 0px;background:#FFFFFF;}
.title{height:40px;background: url(../images/news.gif) no-repeat ; padding:0 0 5px 0;}
.news{padding:4px 10px 10px 8px; height:180px; overflow:hidden;}
.news li{padding:6px 0;_list-style:none;}
.news li .licon{ float:left;margin-left:10px;width:520px;display:block;line-height:1.6em;}
.news li .date{ float:left;margin-left:20px;width:40px;display:block;line-height:1.6em;}
.case{padding:8px 10px 10px 8px; height:160px; overflow:hidden;border-bottom:1px dotted #dcdcdc;}
.line{ height:40px;}
.case .casecon{ float:left;width:100px; padding:0 30px 0 20px; border-right:1px dotted #dcdcdc;}
.case .casecon p{ line-height:1.6em;padding-top:2px;}
.flash{height: 240px;}
/*end*/
.end{float:right; height:80px;background-color:#E0DACE; clear:both; background:#ff6600;}
.end .endleft{float:left; padding:14px 0 0 0;height:66px; width:160px; background:#f1eee6 }
.end .endleft li{margin: 0 0 0 60px;}
.end .endleft li a{ font:13px; color:#704D0D;line-height:1.4em;}
.end .endright{ float:left;padding:14px 0 10px 20px; color:#7d776b;}